<div class="custom-container category-container-caro">
    <div class="{{isProductDetails?'isproductdetails':'feature-container '}}">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let item of categoryData">
                <ng-template carouselSlide>

                    <div class="feature-card">
                        <a [href]="'/category/' + item.link" class="text-decoration-none">
                            <img [src]="isSubCategory ? imagePath.brand + item.image : imagePath.parentCategory + item.image" alt="" class="mx-auto rounded-circle">
                            <div class="feature-card-content">
                                <h5>{{item.title | slice: 0:14
                                    }}</h5>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>