<div class="d-flex justify-content-between align-items-center">
    <div class="heading-title">
        <h1>{{title1}}</h1>
        <span>{{title2}}</span>
    </div>
    <i class="bi bi-heart-fill text-danger"></i>
    <div class="heading-button">
        <a href="{{href}}" *ngIf="buttonText!=''">
            <button >
                {{buttonText}} <i class="fa-solid fa-chevron-right "></i> <img src="../../../assets/icons/button.svg" class="d-inline-block d-md-none" alt="">
            </button>
        </a>
    </div>
</div>