<div class="d-flex justify-content-{{iscenter ? 'center' : 'between'}} align-items-center">
    <div class="heading-title {{isWhite ? 'text-white' : ''}}">
        <h1>{{title1}}</h1>
        <span>{{title2}}</span>
    </div>
  
    <i class="bi bi-heart-fill text-danger"></i>
    <div class="heading-button ">
        <a href="{{href}}" *ngIf="buttonText!=''">
            <button class="{{isWhite ? 'white-btn' : ''}}">
                {{buttonText}} <i class="fa-solid fa-chevron-right "></i> <img src="../../../assets/icons/button.svg" class="d-inline-block d-md-none" alt="">
            </button>
        </a>
    </div>
</div>