<div class="custom-container">
    <div class=" trending-deals-container offer-container">
        <div class="shopcat-card">
            <div class="d-flex justify-content-between align-items-center ">
                <h5 class="title">{{dealsdata.title}}</h5>
                <a [routerLink]="dealsdata.link" class="shop-btn"><i class="fa-solid fa-angle-right"></i></a>
                <!-- <a [routerLink]="/" class="shop-btn"><img src="../../../assets/icons/button.svg" alt=""></a> -->
            </div>
            <!-- <ng-container *ngFor="let deals of dealsdata.deals"> -->
            <div class="shop-flex">

                <ng-container *ngFor="let product of dealsdata.deals">

                    <div class="shop-card">
                        <a [routerLink]="product.slug" class="text-decoration-none">
                            <img src="{{imagePath.shopbycat + product.image}}" alt="">
                            <div class="shop-card-content">
                                <h5 class="text-uppercase">{{product.brand}}</h5>
                                <p class="text-capitalize">{{product.name | slice:0:30}}...</p>
                            </div>
                        </a>
                    </div>

                </ng-container>
            </div>
            <!-- </ng-container> -->
        </div>
        <div class="">
            <a href="{{dealsdata.banner.link}}">
                <img src="{{imagePath.banners + dealsdata.banner.image}}" class="img-fluid " alt="">
            </a>



        </div>
    </div>
</div>