<div class="custom-container">
    <div class=" trending-deals-container offer-container">
        <div class="shopcat-card">
            <div class="d-flex justify-content-between align-items-center ">
                <h5 class="title">Trending Deals</h5>
                <a href="" class="shop-btn"><i class="fa-solid fa-angle-right"></i></a>
                <!-- <a [routerLink]="/" class="shop-btn"><img src="../../../assets/icons/button.svg" alt=""></a> -->
              </div>
            <ng-container *ngFor="let deals of dealsdata">
            <div class="shop-flex">
    
                <ng-container *ngFor="let product of deals.deals">
    
                    <div class="shop-card">
                        <a href="" class="text-decoration-none">
                            <img src="{{product.image}}" alt="">
                            <div class="shop-card-content">
                                <h5 class="text-uppercase">{{product.title}}</h5>
                                <p class="text-capitalize">{{product.description}}</p>
                             </div>
                         </a>
                     </div>
                     
                 </ng-container>
            </div>
            </ng-container>
        </div>
    <div class="">
    
            <a href="{{dealsdata[0].banner.link}}">
                <img src="{{dealsdata[0].banner.image}}" class="img-fluid " alt="">
            </a>

   
    </div>
</div>
</div>