header {
    background-color: var(--primary-color);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 87px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    height: 39px;
    width: 633px;
    padding: 0;
}

.header-right input {
    border: none;
    outline: none;
    padding-left: 16px;
    width: 100%;
    background-color: transparent;
}
.header-right input::placeholder{
    color: var(--white-color);
}
.header-right label{
    color: var(--white-color);
}
.header-right button{
    height: 39px;
    margin: 0;
    background-color: var(--white-color);
    color: var(--header-color);
}
