<app-breadcrumb category="Category" bannerimage="banner.png" subcategory="{{subcategoryData.name}}" [items]="subcategoryData.sliders "></app-breadcrumb>
<app-category [categoryData]="subcategoryData.categoryData" [isSubCategory]="true"></app-category>

<div class="custom-container newhead d-block d-md-none">
    <app-heading [title1]="'FILTER'" [title2]="'Your Preferences'" [buttonText]="'Filter'" [href]="'#'" class="d-block  d-md-none"></app-heading>
</div>

<app-productlisting [productdata]="subcategoryData.productdata"></app-productlisting>
<p>{{subcategoryData.products | json}}</p>