<div class="cart-overlay" *ngIf="cartService.isCartVisible$ | async" (click)="closeCart()">
  <div class="cart-popup" (click)="$event.stopPropagation()">
    <div class="cart-header">
      <h2>SHOPPING CART ({{cartCount}})</h2>
      <button class="close-btn" (click)="closeCart()"><img width="32px" src="../../../assets/icons/closeCart.svg"
          alt=""></button>
    </div>

    <div class="cart-content">
      <div class="cart-items" *ngIf="cartService.cartItems$ | async as items">
        <div class="cart-item" *ngFor="let item of items">
          <img [src]="imagePath.productcaro + item.image" [alt]="item.name">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="item-details">
              <h3>{{item.name}}</h3>
              <p class="price">{{selectedCurrency}} {{item.price * item.quantity}}</p>
              <div class="quantity-controls">
                <button (click)="updateQuantity(item.id, -1)"><i class="fa-solid fa-minus"></i></button>
                <span>{{item.quantity}}</span>
                <button (click)="updateQuantity(item.id, 1)"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            <button class="remove-btn" (click)="removeItem(item.id)"><i class="fa-solid fa-trash"></i></button>

          </div>
        </div>
        <ng-container *ngIf="items.length > 0">
          <div class="cart-total">
            <p>Subtotal</p>
            <p><span>{{selectedCurrency}} {{cartService.getCartTotal()}}</span></p>
          </div>
          <div class="action-btn">

            <a routerLink="/cart">cart</a>
            <a routerLink="/checkout">checkout</a>
          </div>
        </ng-container>
        <div class="empty-cart" *ngIf="items.length === 0">
          <p>Your cart is empty</p>
        </div>
      </div>
    </div>
  </div>
</div>