<app-productbreadcrumb [productName]="'Forgot Password'" ></app-productbreadcrumb>
<div class="main-signin-container ">

    <div class="signin-container justify-content-center">
        <div class="signin-content">
            <div class="signin-form">
                <h1 class="text-center">Forgot Password</h1>
          
            </div>
            <div class="signin-form-content">
                <form [formGroup]="loginForm" (ngSubmit)="onResetPassword()">
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email id">
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                        Please enter a valid email address
                    </div>
                    <button type="submit" [disabled]="!loginForm.valid">Send Reset Link</button>
                </form>
                <a [routerLink]="['/signup']" class="text-center text-decoration-none forgot-password">Already Have An Account? Login!</a>
            </div>
        </div>
    </div>
    
</div>

