<app-productbreadcrumb [productName]="'Forgot Password'" ></app-productbreadcrumb>
<div class="main-signin-container ">

    <div class="signin-container justify-content-center">
        <div class="signin-content">
            <div class="signin-form">
                <h1 class="text-center">Forgot Password</h1>
          
            </div>
            <div class="signin-form-content">
                <form method="post" action="">
    
                    <input type="email" class="form-control" id="email" placeholder="Email id">
                    <a type="submit">Send Reset Link</a>
   
                </form>
                <a [routerLink]="['/signup']" class="text-center text-decoration-none forgot-password">Already Have An Account? Login!</a>
            </div>
        </div>
    </div>
    
</div>

