<div class="main-signin-container">
    <div class="background-container">
        <div class="background-scroll">
            <img src="../../../assets/images/signin/1.png" alt="Background 1">
            <img src="../../../assets/images/signin/2.png" alt="Background 2">
            <img src="../../../assets/images/signin/3.png" alt="Background 3">
            <img src="../../../assets/images/signin/4.png" alt="Background 4">
        </div>
    </div>
    <div class="signin-container">
        <div class="signin-content">
            <div class="signin-form">
                <h1 class="text-center d-block d-md-none">Sign Up <span>to your account</span></h1>
                <p class="text-center pb-0 d-none d-md-block">Create Account</p>
                <div class="d-flex justify-content-center signin-form-button">
                    <button mat-raised-button color="primary"><img src="../../../assets/icons/facebook.svg" alt=""> Facebook</button>
                    <button mat-raised-button color="primary"><img src="../../../assets/icons/google.svg" alt=""> Google</button>
                </div>
            </div>
            <div class="signin-form-content">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
                    <div *ngIf="signupForm.get('fname')?.invalid && signupForm.get('fname')?.touched" class="error-message">
                        First name is required
                    </div>

                    <input type="text" class="form-control" formControlName="lname" placeholder="Last Name">
                    <div *ngIf="signupForm.get('lname')?.invalid && signupForm.get('lname')?.touched" class="error-message">
                        Last name is required
                    </div>

                    <input type="email" class="form-control" formControlName="email" placeholder="Email id">
                    <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
                        Please enter a valid email
                    </div>

                    <input type="tel" class="form-control" formControlName="mobile" placeholder="Telephone Number">
                    <div *ngIf="signupForm.get('mobile')?.invalid && signupForm.get('mobile')?.touched" class="error-message">
                        Please enter a valid 10-digit mobile number
                    </div>

                    <div class="password-input-container">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Password">
                        <span class="password-toggle" (click)="togglePasswordVisibility()">
                            <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                    </div>
                    <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
                        Password must be at least 6 characters long
                    </div>

                    <button type="submit"  [disabled]="!signupForm.valid">Register Now</button>
                </form>
                <a [routerLink]="['/signin']" class="text-center text-decoration-none text-capitalize forgot-password">
                    Already have an account ? login !
                </a>
            </div>
        </div>
    </div>
</div>

