<div class="selling-fast">
    <div class="custom-container selling-fast-container">
        <div class="general-heading">
            <h5>Shop by <span>Brand</span></h5>
        </div>
     <div class="brand-row mt-24">
        <ng-container *ngFor="let item of brandsData">
            <div class="brands-card">
                <a href="{{item.slug}}">
                    <img [src]=" imagePath.brand +item.image" alt="{{item.brand}} " class="img-fluid">
                </a>
            </div>
        </ng-container>
     </div>
    </div>
  </div>