<div class="custom-container breadcrumb-container d-none d-md-flex">
    <div class="breadcrumb-content d-none d-md-flex">
        <a class="ps-0 text-decoration-none" routerLink="/">Home <i class="fa-solid fa-chevron-right"></i></a>
        <a class="ps-0 text-decoration-none" routerLink="/">{{category}} <i class="fa-solid fa-chevron-right"></i></a>
        <a class="ps-0 text-decoration-none" routerLink="/">{{subcategory}} <i class="fa-solid fa-chevron-right"></i></a>
        <a class="ps-0 text-decoration-none active" routerLink="/">{{productName}}</a>
    </div>
</div>