<app-carousel [items]="homepageData.sliderData"></app-carousel>
<app-category [categoryData]="categoryData"></app-category>
<app-topbanner [topbanner]="homepageData.topbanner"></app-topbanner>
<app-productcaro [title1]="homepageData.productcardata['title'].split(' ')[0]" [title2]="homepageData.productcardata['title'].split(' ').slice(1).join(' ')" [buttonText]="'View All'"
    [href]="''" [products]="homepageData.productcardata['products']"></app-productcaro>
<app-offers [offers]="homepageData.four_banners"></app-offers>
<app-productcaro [title1]="homepageData.recommended_products['title'].split(' ')[0]"
    [title2]="homepageData.recommended_products['title'].split(' ').slice(1).join(' ')" [href]="'#'"
    [products]="homepageData.recommended_products['products']"></app-productcaro>
<app-brands [brandsData]="homepageData.shop_by_brand['brands']"></app-brands>
<app-deals [title1]="homepageData.dealsData['title'].split(' ')[0]" [title2]="homepageData.dealsData['title'].split(' ').slice(1).join(' ')"
    [buttonText]="homepageData.dealsData['button_text']" [href]="homepageData.dealsData['url']"
    [dealsData]="homepageData.dealsData['deal_cards']" [isHome]=true></app-deals>
<app-banners [banner]="homepageData.banner"></app-banners>
<app-shopbycat [shopbycatData]="homepageData.shopbycatData "></app-shopbycat>
<app-sellingfast [sellingFastData]="homepageData.sellingFastData"></app-sellingfast>
<app-productcaro [title1]="homepageData.products_carousel_1['title'].split(' ')[0]" [title2]="homepageData.products_carousel_1['title'].split(' ').slice(1).join(' ')" [buttonText]="'View All'"
    [href]="homepageData.products_carousel_1['url']"
    [products]="homepageData.products_carousel_1['products']"></app-productcaro>
<app-newproducts [newproduct]="homepageData.two_half_width_banners"></app-newproducts>
<app-productcaro [title1]="homepageData.products_carousel_2['title'].split(' ')[0]" [title2]="homepageData.products_carousel_2['title'].split(' ').slice(1).join(' ')" [buttonText]="'View All'"
    [href]="homepageData.products_carousel_2['url']"
    [products]="homepageData.products_carousel_2['products']"></app-productcaro>
<app-featurebanner [banner]="homepageData.bottom_three_banners"></app-featurebanner>
<app-reviews [reviews]="homepageData.reviews"></app-reviews>
<app-banners class="d-none d-md-block" [banner]="homepageData.banner2"></app-banners>
<!-- <p>{{homepageData.shopbycatData | json}}</p> -->