<!-- <app-carousel></app-carousel> -->
<!-- <div class="custom-container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to our website</h1>
        </div>
    </div>
</div> -->
<app-category></app-category>
<app-topbanner></app-topbanner>
<app-productcaro [title1]="'Best'" [title2]="'Sellers'" [buttonText]="'View All'" [href]="'#'"></app-productcaro>
<app-offers></app-offers>
<app-productcaro [title1]="'Recommended '" [title2]="'For You'" [buttonText]="'View All'" [href]="'#'"></app-productcaro>
<app-brands></app-brands>
<app-deals [title1]="'BEST DEALS '" [title2]="'on Kitchen Appliances'" [buttonText]="'View All'" [href]="'#'"></app-deals>
<app-banners></app-banners>
<app-sellingfast></app-sellingfast>
<app-productcaro [title1]="'Gaming & '" [title2]="'Accessories'" [buttonText]="'View All'" [href]="'#'"></app-productcaro>
<app-newproducts></app-newproducts>
<app-productcaro [title1]="'Mobile & '" [title2]="'Tablet'" [buttonText]="'View All'" [href]="'#'"></app-productcaro>
<app-featurebanner></app-featurebanner>
<app-banners></app-banners>