<div class="custom-container">
    <div class="feature-container shop-main-container">
        <div class="d-flex justify-content-between shop-container">
            <div class="shopcat-card">
                <div class="d-flex justify-content-between align-items-center ">
                  <h5>Gaming</h5>
                  <a class="shop-btn"><img src="../../../assets/icons/button.svg" alt=""></a>
                </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/1.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/2.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/3.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/4.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>

               </div>
            <div class="shopcat-card">
                <div class="d-flex justify-content-between align-items-center">
                  <h5>Gaming</h5>
                  <a class="shop-btn"><img src="../../../assets/icons/button.svg" alt=""></a>
                </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/1.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/2.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/3.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/4.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>

               </div>
            <div class="shopcat-card">
                <div class="d-flex justify-content-between align-items-center">
                  <h5>Gaming</h5>
                  <a class="shop-btn"><img src="../../../assets/icons/button.svg" alt=""></a>
                </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/1.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/2.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>
               <div class="shop-flex mt-10">
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/3.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
                <div class="shop-card">
                    <img src="../../../assets/images/shopbycat/4.png" alt="">
                    <div class="shop-card-content">
                        <h5>MICROSOFT</h5>
                        <p>Xbox Series X Controller Carbon Black</p>
                    </div>
                </div>
               </div>

               </div>

        </div>
    </div>