<div class="selling-fast">
  <div class="custom-container selling-fast-container">
    <div class="selling-fast-banner">
      <span>SELLING <strong>FAST</strong></span>
    </div>


    <div class="d-flex justify-content-between align-items-center ">
      <ng-container *ngFor="let item of sellingFastData">
        <a href="" class="text-decoration-none">
          <div class="selling-card">
            <img [src]="item.image" alt="">
            <div class="selling-card-content text-center">
              <h5 class="mb-0">{{item.sale}}</h5>
              <p>{{item.title}}</p>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>