<!-- <p>{{userData | json}}</p> -->
<app-productbreadcrumb [category]="productDetails[0]?.categoryname" [subcategory]="productDetails[0]?.brand"
    [productName]="productDetails[0]?.productName"></app-productbreadcrumb>
<app-category [categoryData]="categoryData" slug="category" [isProductDetails]="true"></app-category>

<div class="custom-container product-details-container">

    <div class="product-grid align-items-start">
        <div class="product-image-carousel align-items-center"
            *ngIf="productDetails[0]?.productimages[0].image[0]!=null">
            <div class="thumbnail-images">
                <ng-container *ngFor="let image of productDetails[0]?.productimages">
                    <div class="thumbnail">
                        <img [src]="imagePath.productthumbnail + image.image" alt="">
                    </div>
                </ng-container>
            </div>
            <div class="main-image">
                <owl-carousel-o [options]="customOptions" #owlCar>
                    <ng-container *ngFor="let image of productDetails[0]?.productimages">
                        <ng-template carouselSlide>
                            <img [src]="imagePath.productthumbnail+ image.image" alt="Product Image">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>

        <div class="product-grid-item">
            <div class="product-level1">
                <div class="product-grid-item-content">
                    <p class="brand">{{productDetails[0]?.brand}}</p>
                    <p class="product-name">{{productDetails[0]?.productName}}</p>
                    <p class="model">model: {{productDetails[0]?.model}}</p>
                </div>
                <div class="product-price d-flex align-items-center">
                    <p class="price">{{selectedCurrency}} {{
                        productDetails[0]?.sprice!='' ? productDetails[0]?.sprice : productDetails[0]?.price}}</p>
                    <p *ngIf="productDetails[0]?.sprice!=='0'" class="sprice">{{selectedCurrency}}
                        {{productDetails[0]?.price}}</p>
                    <p class="discount">{{((productDetails[0]?.price -
                        productDetails[0]?.sprice) / productDetails[0]?.price) * 100 | number:'1.0-0'}}% off</p>
                </div>
                <div class="product-middle">
                    <div class="product-middle-content">
                        <div class="product-card">
                            <img src="../../../assets/icons/products/SealCheck.svg" alt="">
                            <p>1 year warranty</p>
                        </div>
                        <div class="product-card">
                            <img src="../../../assets/icons/products/secure.png" alt="">
                            <p>Secure Payments</p>
                        </div>
                        <div class="product-card">
                            <img src="../../../assets/icons/products/delivery.png" alt="">
                            <p>{{productDetails[0]?.deliveredBy}}</p>
                        </div>



                    </div>
                    <div class="rating">
                        <p>{{productDetails[0]?.rating}} <i class="fa-solid fa-star"></i></p>
                        <p>{{productDetails[0]?.ratingCount}} Rating & {{productDetails[0]?.reviewsCount}} reviews</p>
                    </div>
                    <div class="payment-plan">
                        <img src="../../../assets/icons/products/tabby.png" alt="">
                        <p class="mb-0">4 interest-free payments of AED 324.75. No fees. Shariah-compliant. <a
                                href="">Learn
                                more</a></p>
                    </div>
                </div>
            </div>
            <div class="product-color" *ngIf="productDetails[0]?.variants2.color.length > 0">
                <p>Color: {{productDetails[0]?.variants2.color[0]?.color}}</p>
                <div class="color-container">
                    <div class="color-box" *ngFor="let color of productDetails[0]?.variants2.color">
                        <img [src]="imagePath.productthumbnail+color.image" alt="{{color.color}}">
                    </div>
                </div>
            </div>
            <div class="product-row">
                <div class="product-storage" *ngIf="productDetails[0]?.variants2.storage.length > 0">
                    <div class="storage-container">
                        <p>Storage</p>
                        <div class="storage-options">
                            <div class="storage-option" *ngFor="let storage of productDetails[0]?.variants2.storage">
                                <input class="storage-input" type="radio" name="storageOptions"
                                    [value]="storage.storage" id="{{storage.storage}}">
                                <label class="storage-label" [for]="storage.storage">
                                    {{storage.storage}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-row">
                <div class="product-storage" *ngIf="productDetails[0]?.variants2.ram.length > 0">
                    <div class="storage-container">
                        <p>Ram</p>
                        <div class="storage-options">
                            <div class="storage-option" *ngFor="let ram of productDetails[0]?.variants2.ram">
                                <input class="storage-input" type="radio" name="ramOptions" [value]="ram.ram"
                                    id="{{ram.ram}}">
                                <label class="storage-label" [for]="ram.ram">
                                    {{ram.ram}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="easy-payments align-items-start">
                <div class="plans">
                    <h6>Easy Payment Plans</h6>
                    <p>Starting from AED 388.25/month </p>
                </div>
                <a href="" class="d-flex align-items-center">
                    <p>Details</p> <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
            <div class="action-button">
                <button *ngIf="productDetails[0]?.quantity > 0 && productDetails[0]?.quantity != null"
                    (click)="addToCart()"><img src="../../../assets/icons/cart.svg" width="16" height="16" alt="">Add to
                    Cart</button>
                <button *ngIf="productDetails[0]?.quantity == 0 || productDetails[0]?.quantity == null"
                    class="disabled-button out-of-stock">Out of
                    Stock</button>
                <button (click)="toggleWishlist(productDetails[0])"><i class="fa-regular fa-heart"></i>
                    Wishlist</button>
            </div>
            <div class="price-details">
                <div class="price-detail" *ngFor="let priceDetail of priceDetails">
                    <img [src]="priceDetail.Image" alt="">
                    <p>{{priceDetail.title}}</p>
                </div>
            </div>
            <div class="frequently-bought" *ngIf=" productDetails[0]?.frequentlyBought[0].length > 0 ">
                <h6>Frequently <span>Bought Together</span></h6>
                <div class="frequently-bought-items">
                    <div class="frequently-bought-item"
                        *ngFor="let frequentlyBought of productDetails[0]?.frequentlyBought[0]">
                        <a [routerLink]="'/product/' + frequentlyBought.link" class="text-decoration-none">
                            <img [src]="imagePath.shopbycat+ frequentlyBought.image" alt="">
                            <p class="fproduct-name">{{frequentlyBought.title.length>15 ?
                                frequentlyBought.title.slice(0,
                                15)+'...' : frequentlyBought.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="fproduct-price">{{selectedCurrency}} {{frequentlyBought.price}}</p>
                                <p class="fproduct-rating">{{frequentlyBought.rating}} <i class="fa-solid fa-star"></i>
                                </p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-grid-item2">
            <div class="delvery-message-box">
                <div class="delivery-message d-flex align-items-center" *ngFor="let message of deliveryMessage">
                    <img [src]="message.Image" alt="">
                    <div class="delivery-message-content">
                        <h6>{{message.title}}</h6>
                        <p>{{message.desc}}</p>
                    </div>
                </div>
            </div>
            <div class="sold-by align-items-center">
                <div>

                    <img src="../../../assets/icons/products/logo.svg" alt="">
                </div>
                <div>
                    <p class="sold-text">Sold by Seven Wonders</p>
                    <div class="rating">
                        <p>{{productDetails[0]?.rating}} <i class="fa-solid fa-star"></i></p>
                        <p>{{productDetails[0]?.ratingCount}} Rating & {{productDetails[0]?.reviewsCount}} reviews</p>
                    </div>
                </div>
            </div>
            <img src="{{productDetails[0]?.banner}}" class="product-banner" alt="">
            <button class="store-availability">
                <div><img src="../../../assets/icons/products/MapPinArea.svg" alt=""> Check Store Availability</div> <i
                    class="fa-solid fa-chevron-right"></i>
            </button>
            <div class="save" *ngIf="productDetails[0]?.sprice!==0">
                <p>Save {{((productDetails[0]?.price -
                    productDetails[0]?.sprice) / productDetails[0]?.price) * 100 | number:'1.0-0'}}%</p>
                <p class="price mb-0">{{selectedCurrency}} {{productDetails[0]?.sprice}}
                    <span>{{productDetails[0]?.price}}</span>
                </p>
                <p>Inclusive of VAT</p>
            </div>
            <div class="product-message">
                <div>
                    <span></span>
                    <p>{{productDetails[0]?.productMessage}}</p>
                </div>
                <img src="../../../assets/icons/products/Info.svg" alt="">
            </div>
            <ng-container *ngIf="productDetails[0]?.otherproduct !=0">

                <a [routerLink]="'/product/' + productDetails[0]?.otherproduct[0]?.link" class="text-decoration-none">
                    <div class="other-products">
                        <div class="other-header">
                            <img [src]="imagePath.shopbycat + productDetails[0]?.otherproduct[0]?.logo" alt="">
                            <h6 class="mb-0">{{ productDetails[0]?.otherproduct[0]?.title.length>25 ?
                                productDetails[0]?.otherproduct[0]?.title.substring(0, 25) + '...' :
                                productDetails[0]?.otherproduct[0]?.title}}</h6>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                        <div class="other-product-image">
                            <img [src]="imagePath.shopbycat + productDetails[0]?.otherproduct[0]?.image" class="mx-auto"
                                alt="">
                            <p class="desc">{{productDetails[0]?.otherproduct[0]?.description}}</p>
                            <p class="price"> {{selectedCurrency}} {{productDetails[0]?.otherproduct[0]?.price}}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
            <img src="{{productDetails[0]?.banner}}" class="product-banner" alt="">
        </div>
    </div>

    <div class="more-about-product">
        <div class="product-technical-details" [ngClass]="{'expanded': showTechnicalDetails}">
            <div class="row">
                <div class="col-md-6">
                    <div class="technical-details">
                        <app-heading title1="Technical" title2="DETAILS" [isproduct]=true></app-heading>
                        <div [innerHTML]="productDetails[0]?.technicalDetails"></div>
                        <!-- <table class="technical-table mt-24">
                            <tbody>
                                <tr *ngFor="let spec of technicalDetails">
                                    <td class="spec-name">{{spec.name}}</td>
                                    <td class="spec-value">{{spec.value}}</td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="additional-information">
                        <app-heading title1="Additional" title2="INFORMATION" [isproduct]=true></app-heading>
                        <div class="p-0 mx-0 mb-0 mt-24">
                            <div [innerHTML]="productDetails[0]?.additionalInformation"></div>
                            <!-- <ul>
                                <li *ngFor="let item of  productDetails[0].additionalInformation">
                                    {{item.text}}
                                </li>
                            </ul> -->
                        </div>

                    </div>

                </div>
            </div>
            <button class="{{ showTechnicalDetails ? 'show-more-btn':'show-less-btn'}}"
                (click)="toggleTechnicalDetails()">
                <div>
                    {{ !showTechnicalDetails ? 'View More Details' : 'Hide Details' }} <i
                        class=" {{ !showTechnicalDetails ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up' }} "></i>
                </div>
            </button>
        </div>
        <div class="product-images" [ngClass]="{'expanded': showAllImages}"
            *ngIf="productDetails[0].productsImages.length!=0">
            <ng-container *ngFor="let item of productDetails[0].productsImages">
                <img [src]="imagePath.featured+ item.image || 'https://placehold.co/1240x600'" alt="" class="img-fluid">
            </ng-container>
            <button class="{{ showAllImages ? 'show-more-btn':'show-less-btn'}}" (click)="toggleImages()">
                <div>
                    {{ !showAllImages ? 'View More Details' : 'Hide Details' }} <i
                        class=" {{ !showAllImages ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up' }} "></i>
                </div>
            </button>
        </div>

    </div>
</div>

<ng-container *ngIf="productPage[0]?.totalReviews > 0 else noReviews">
    <div class="product-reviews custom-container ">
        <div class=" ms-0 d-none d-md-block">
            <app-heading title1="Customer's " title2="REVIEWS" [isproduct]=true></app-heading>
        </div>
        <div class="product-review-container">
            <div class="review-summary d-none d-md-flex">
                <div class="total-reviews">
                    <p class="mb-0">Total Reviews</p>
                    <div>
                        <h3>{{productPage[0]?.totalReviews | number}}+</h3>
                        <p class="mb-0 last-child">Positive Reviews</p>
                    </div>
                </div>
                <div class="total-reviews">
                    <p class="mb-0">Product Rating</p>
                    <div class="star-rating">
                        <div *ngFor="let i of [1,2,3,4,5]">
                            <i class="fa-solid fa-star" [class.filled]="i <= productDetails[0]?.rating"></i>
                        </div>
                        <p class="mb-0 rating-value">{{productDetails[0]?.rating}}</p>
                    </div>
                    <p class="mb-0 last-child">{{productDetails[0]?.ratingCount}} Ratings </p>
                </div>
                <div class="rating-breakdown">
                    <h4>Product Rating</h4>
                    <div class="rating-stats">
                        <div class="rating-row" *ngFor="let rating of productPage[0].ratingBreakdown">
                            <div class="rating-row-text">

                                <span>{{rating.stars}} <i class="fa-solid fa-star"></i></span>
                                <div class="rating-bar">
                                    <div class="rating-fill" [style.width.%]="rating.percentage"></div>
                                </div>
                            </div>
                            <span>{{rating.percentage}}%</span>
                        </div>
                    </div>
                </div>
                <button class="write-review-btn" (click)="openReviewModal()">
                    <i class="fa-regular fa-pen-to-square"></i> Write a Review
                </button>
            </div>
            <div class="cusomter-review ">
                <!-- <div class="reviews-with-images">
                    <h4>Reviews with images</h4>
                    <owl-carousel-o [options]="customOptions1" #owlCar1>
                        <ng-container *ngFor="let image of reviewImages">
                            <ng-template carouselSlide>
                                <img [src]="image.imageUrl" [alt]="'Review Image ' + image.id">
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                
                </div> -->

                <div class="customer-reviews ">
                    <div class="review-card" *ngFor="let review of productPage[0].customerReviews">
                        <div class="reviewer-info">
                            <img [src]="review.reviewerImage || 'https://placehold.co/50x50'"
                                [alt]="review.reviewerName">
                            <div>
                                <h5>{{review.reviewerName}}</h5>
                                <p>Reviewed on {{review.reviewDate}}</p>
                            </div>
                        </div>

                        <div class="review-rating">
                            <h4>{{review.title}}</h4>
                            <div class="star-container">
                                <div class="stars">
                                    <i class="fa-solid fa-star" *ngFor="let star of [1,2,3,4,5]"
                                        [class.filled]="star <= review.rating"
                                        [class.half-filled]="star - 0.5 <= review.rating && star > review.rating">
                                    </i>
                                </div>
                                <span>{{review.rating}}</span>
                            </div>
                        </div>
                        <p>{{review.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noReviews>
    <div class="product-reviews custom-container ">
        <div class="row">
            <div class="col-12">
                <p>Be the first to review this product</p>
                <button class="write-review-btn" (click)="openReviewModal()">
                    <i class="fa-regular fa-pen-to-square"></i> Write a Review
                </button>

            </div>
        </div>
    </div>
</ng-template>


<ng-container *ngIf="productCarousel.length > 0">
    <app-productcaro [title1]="'RELATED '" [title2]="'Products'" [href]="'#'" [buttonText]="'View All'"
        [products]="productCarousel"></app-productcaro>
</ng-container>